$primary-color_10 :rgba(124, 128, 141, 1);
$primary-color_09 :rgba(124, 128, 141, 0.9);
$primary-color_08 :rgba(124, 128, 141, 0.8);
$primary-color_07 :rgba(124, 128, 141, 0.7);
$primary-color_06 :rgba(124, 128, 141, 0.6);
$primary-color_05 :rgba(124, 128, 141, 0.5);
$primary-color_04 :rgba(124, 128, 141, 0.4);
$primary-color_03 :rgba(124, 128, 141, 0.3);
$primary-color_02 :rgba(124, 128, 141, 0.2);
$primary-color_01 :rgba(124, 128, 141, 0.1);
$primary-color_00 :rgba(124, 128, 141, 0.0);

$primary-color-reverse_10 :rgba(60, 63, 75, 1);
$primary-color-reverse_09 :rgba(60, 63, 75, 0.9);
$primary-color-reverse_08 :rgba(60, 63, 75, 0.8);
$primary-color-reverse_07 :rgba(60, 63, 75, 0.7);
$primary-color-reverse_06 :rgba(60, 63, 75, 0.6);
$primary-color-reverse_05 :rgba(60, 63, 75, 0.5);
$primary-color-reverse_04 :rgba(60, 63, 75, 0.4);
$primary-color-reverse_03 :rgba(60, 63, 75, 0.3);
$primary-color-reverse_02 :rgba(60, 63, 75, 0.2);
$primary-color-reverse_01 :rgba(60, 63, 75, 0.1);
$primary-color-reverse_00 :rgba(60, 63, 75, 0.0);

$primary-background-color_10 :rgba(37, 40, 48, 1);
$primary-background-color_09 :rgba(37, 40, 48, 0.9);
$primary-background-color_08 :rgba(37, 40, 48, 0.8);
$primary-background-color_07 :rgba(37, 40, 48, 0.7);
$primary-background-color_06 :rgba(37, 40, 48, 0.6);
$primary-background-color_05 :rgba(37, 40, 48, 0.5);
$primary-background-color_04 :rgba(37, 40, 48, 0.4);
$primary-background-color_03 :rgba(37, 40, 48, 0.3);
$primary-background-color_02 :rgba(37, 40, 48, 0.2);
$primary-background-color_01 :rgba(37, 40, 48, 0.1);
$primary-background-color_00 :rgba(37, 40, 48, 0.0);

$secondary-background-color_10 :rgba(47, 50, 58, 1);
$secondary-background-color_09 :rgba(47, 50, 58, 0.9);
$secondary-background-color_08 :rgba(47, 50, 58, 0.8);
$secondary-background-color_07 :rgba(47, 50, 58, 0.7);
$secondary-background-color_06 :rgba(47, 50, 58, 0.6);
$secondary-background-color_05 :rgba(47, 50, 58, 0.5);
$secondary-background-color_04 :rgba(47, 50, 58, 0.4);
$secondary-background-color_03 :rgba(47, 50, 58, 0.3);
$secondary-background-color_02 :rgba(47, 50, 58, 0.2);
$secondary-background-color_01 :rgba(47, 50, 58, 0.1);
$secondary-background-color_00 :rgba(47, 50, 58, 0.0);

$primary-box-shadow_10 :rgba(77, 80, 89, 1.0);
$primary-box-shadow_09 :rgba(77, 80, 89, 0.9);
$primary-box-shadow_08 :rgba(77, 80, 89, 0.8);
$primary-box-shadow_07 :rgba(77, 80, 89, 0.7);
$primary-box-shadow_06 :rgba(77, 80, 89, 0.6);
$primary-box-shadow_05 :rgba(77, 80, 89, 0.5);
$primary-box-shadow_04 :rgba(77, 80, 89, 0.4);
$primary-box-shadow_03 :rgba(77, 80, 89, 0.3);
$primary-box-shadow_02 :rgba(77, 80, 89, 0.2);
$primary-box-shadow_01 :rgba(77, 80, 89, 0.1);
$primary-box-shadow_00 :rgba(77, 80, 89, 0.0);

$primary-border-color_10 :rgba(0, 0, 7, 1.0);
$primary-border-color_09 :rgba(0, 0, 7, 0.9);
$primary-border-color_08 :rgba(0, 0, 7, 0.8);
$primary-border-color_07 :rgba(0, 0, 7, 0.7);
$primary-border-color_06 :rgba(0, 0, 7, 0.6);
$primary-border-color_05 :rgba(0, 0, 7, 0.5);
$primary-border-color_04 :rgba(0, 0, 7, 0.4);
$primary-border-color_03 :rgba(0, 0, 7, 0.3);
$primary-border-color_02 :rgba(0, 0, 7, 0.2);
$primary-border-color_01 :rgba(0, 0, 7, 0.1);
$primary-border-color_00 :rgba(0, 0, 7, 0.0);

$danger-box-shadow_10 :rgba(230, 71, 89, 1.0);
$danger-box-shadow_09 :rgba(230, 71, 89, 0.9);
$danger-box-shadow_08 :rgba(230, 71, 89, 0.8);
$danger-box-shadow_07 :rgba(230, 71, 89, 0.7);
$danger-box-shadow_06 :rgba(230, 71, 89, 0.6);
$danger-box-shadow_05 :rgba(230, 71, 89, 0.5);
$danger-box-shadow_04 :rgba(230, 71, 89, 0.4);
$danger-box-shadow_03 :rgba(230, 71, 89, 0.3);
$danger-box-shadow_02 :rgba(230, 71, 89, 0.2);
$danger-box-shadow_01 :rgba(230, 71, 89, 0.1);
$danger-box-shadow_00 :rgba(230, 71, 89, 0.0);

$success-box-shadow_10 :rgba(27, 201, 142, 1.0);
$success-box-shadow_09 :rgba(27, 201, 142, 0.9);
$success-box-shadow_08 :rgba(27, 201, 142, 0.8);
$success-box-shadow_07 :rgba(27, 201, 142, 0.7);
$success-box-shadow_06 :rgba(27, 201, 142, 0.6);
$success-box-shadow_05 :rgba(27, 201, 142, 0.5);
$success-box-shadow_04 :rgba(27, 201, 142, 0.4);
$success-box-shadow_03 :rgba(27, 201, 142, 0.3);
$success-box-shadow_02 :rgba(27, 201, 142, 0.2);
$success-box-shadow_01 :rgba(27, 201, 142, 0.1);
$success-box-shadow_00 :rgba(27, 201, 142, 0.0);

$warning-box-shadow_10 :rgba(228, 216, 54, 1.0);
$warning-box-shadow_09 :rgba(228, 216, 54, 0.9);
$warning-box-shadow_08 :rgba(228, 216, 54, 0.8);
$warning-box-shadow_07 :rgba(228, 216, 54, 0.7);
$warning-box-shadow_06 :rgba(228, 216, 54, 0.6);
$warning-box-shadow_05 :rgba(228, 216, 54, 0.5);
$warning-box-shadow_04 :rgba(228, 216, 54, 0.4);
$warning-box-shadow_03 :rgba(228, 216, 54, 0.3);
$warning-box-shadow_02 :rgba(228, 216, 54, 0.2);
$warning-box-shadow_01 :rgba(228, 216, 54, 0.1);
$warning-box-shadow_00 :rgba(228, 216, 54, 0.0);